
.main-title {
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 115%;

    font-size: 1.875rem;

    @include _768 {
        font-size: 2.5rem;
    }

    @include _992 {
        font-size: 3.125rem;
    }
}

.title {
    
    font-family: var(--title-font);
    font-weight: 700;

    font-size: 1.125rem;

    @include _768 {
        font-size: 1.5rem;
    }

    @include _992 {
        font-size: 1.875rem;
    }
    
    &._min {

    }
}

.section-title {

    font-family: var(--title-font);
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 115%;
    letter-spacing: 0.01em;

    color: #222222;

    @include _768 {
        font-size: 2.8125rem;
    }
    
    @include _992 {
        font-size: 3.4375rem;
    }

    &._decor-line {
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            right: calc(100% + 30px); top: 50%;
            transform: translate(0,-50%);
            width: 100vw; height: 1px;
            background: linear-gradient(90deg, rgba(208, 158, 136, 0) -9.41%, #CB9E8B 104.95%);

        }
    }
}

.txt-center {
    text-align: center;
}
