.input, .textarea {
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 3px;

    width: 100%;
    padding: 14px;

    font-size: 0.75rem;
    @include _768 {
        font-size: 0.9375rem;
        padding: 15px 14px;
    }
    line-height: 100%;

    transition: color .2s ease-in-out;
    color: #7e7e7e;

    &:focus {
        color: #222222;
    }

    &::placeholder {
        color: #CECECE;
        opacity: 1;
    }

    &._date {
        width: 100%;
        color: #CECECE;
        &:focus {
            color: #222222;
        }
        //

        padding-right: 30px;

        @include _768 {
            padding-right: 40px;
            max-width: 170px;
            width: auto;
        }
    }

    &._time {
        color: #CECECE;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
            color: #222222;
        }
        width: 100%;
        position: relative;
        &::-webkit-calendar-picker-indicator {
            /* background: none; */
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background: transparent;
        }

        padding: 14.5px 14px;

        @include _768 {
            max-width: 130px;
            width: auto;
            //padding: 13.13px 14px;
            padding: 15.5px 14px;
        }
    }
}

.textarea {
    resize: none;
}

.select {
    background: #FAFAFA;
    border: 1px solid #EEEEEE;
    border-radius: 3px;

    color: #CECECE;
    &:focus {
        color: #222222;
    }

    transition: color .2s ease-in-out;

    cursor: pointer;

    width: 100%;
    padding: 14px 40px 14px 14px;

    font-size: 0.75rem;
    @include _768 {
        font-size: 0.9375rem;
        padding: 15px 40px 15px 14px;
    }
    line-height: 100%;
}

.qs-controls {
    background: #f9ebe5;
}

.qs-square {
    transition: color .2s ease-in-out, background .2s ease-in-out;
    
    &.qs-active {
        background: var(--accent);
        color: var(--white);
    }
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: var(--accent-light);
    color: var(--white);
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):active {
    background: var(--accent-dark);
}

.form-checkbox {

    cursor: pointer;

    &__body {
        position: relative;

        display: flex;
        align-items: center;
    }

    // .form-checkbox__input

    &__input {
        position: absolute;
        left: 10px; top: 10px;
    }

    // .form-checkbox__element

    &__element {
        display: block;
        width: 30px; height: 30px;

        background: #FAFAFA;
        border: 1px solid #EEEEEE;
        border-radius: 3px;

        position: relative;

        margin-right: 12px;

        &::after {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.79088 0.470991C8.51241 0.192158 8.06024 0.192334 7.7814 0.470991L3.23808 5.01449L1.21877 2.9952C0.939939 2.71636 0.487957 2.71636 0.209124 2.9952C-0.0697081 3.27403 -0.0697081 3.72601 0.209124 4.00484L2.73315 6.52887C2.87248 6.6682 3.05518 6.73804 3.23789 6.73804C3.4206 6.73804 3.60347 6.66838 3.7428 6.52887L8.79088 1.48062C9.06971 1.20198 9.06971 0.749806 8.79088 0.470991Z' fill='%23E84974'/%3E%3C/svg%3E%0A")
            center / 50% no-repeat;

            transition: opacity .2s ease-in-out;
            opacity: 0;
        }
    }

    &__input:checked + &__element::after {
        opacity: 1;
    }

    // .form-checkbox__name

    &__name {
        font-size: 0.875rem;

        @include _768 {
            font-size: 1.125rem;
        }
        
        @include _992 {
            font-size: 1.125rem;
        }
        
        line-height: 122%;
        color: #373737;
    }
}

