html, body {
    font-size: 16px;
    min-height: 100%;
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;
    background: #F9EBE5;
    //padding-right: var(--popup-padding);

    &._active {
        overflow: hidden;
    }

    &._popup-active {
        overflow: hidden;
    }
    
}

h1 {
	margin: 0;
}

.offset-check-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.main {
    overflow: hidden;

    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
}

/* .section-padding {
    padding: 75px 0px;

    @include _768 {
        padding: 100px 0px;
    }

    @include _992 {
        padding: 150px 0px;
    }

} */

section {
    position: relative;
}

.bg-img {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%; height: 100%;

    user-select: none;
    object-fit: cover;

    z-index: -1;
}

.btn {
    display: inline-block;
    
    padding: 11px 13px;
    font-size: 0.875rem;
    min-width: 138px;
    @include _768 {
        font-size: 1rem;
    }
    
    @include _992 {
        font-size: 1.125rem;
        min-width: 185px;
    }
    

    &._center {
        text-align: center;
        & span {
            flex: 1 1 auto;
        }
    }

    &._full {
        width: 100%;
    }

    &._disabled {
        background: #F1F1F1;
        box-shadow: none;
        color: #C5C5C5;
        pointer-events: none;
    }

    &._bold {
        padding: 13px 11px;

        font-weight: 700;
        font-size: 1rem;
        @include _768 {
            padding: 16px 20px;
            font-size: 1.125rem;
        }
        
        @include _992 {
            font-size: 1.25rem;
        }
        line-height: 100%;

        display: inline-flex;
        align-items: center;

        & img {
            margin-right: 5px;
        }
    }

    background: var(--accent);
    color: var(--white);

    border-radius: 5px;

    box-shadow: 0px 7px 26px #CA947E;

    transition: color .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;

    &:hover {
        background: var(--accent-light);
        box-shadow: 0px 0px 10px #CA947E;
    }

    &:active {
        background: var(--accent-dark);
        box-shadow: 0px 0 0px 0px #CA947E;
    }
}

.slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px; height: 50px;

    border-radius: 50%;
    border: 1px solid #E95F7E;
    background: var(--accent);

    &:hover {
        background: var(--accent-light);
    }

    &:active {
        background: var(--accent-dark);
    }

    box-shadow: 0px 15px 35px rgba(174, 64, 66, 0.25);

    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

    &.swiper-button-disabled {
        opacity: 1;
        background: var(--white);
        box-shadow: none;

        background: var(--white);
        &::after {
            color: var(--accent);
        }
    }

    &::after {
        font-size: 12px;
        font-weight: 900;
        color: var(--white);
        
        transition: color .2s ease-in-out;
    }
}

.slider-pagination {
    position: static;
    transform: translate(0,0);

    & .swiper-pagination-bullet {
        width: 15px; height: 15px;

        position: relative;
        background: var(--white);
        border: 1px solid var(--white);
        opacity: 1;
        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            width: 50%; height: 50%;
            transform: translate(-50%,-50%);
            background: var(--accent);
            border-radius: 50%;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        &.swiper-pagination-bullet-active {
            border-color: var(--accent);
            &::before {
                opacity: 1;
            }
        }
    }
}


