

$containerPadding: 15;

$container: 1280 + ($containerPadding * 2);
$containerMin: 992 + ($containerPadding * 2);
$containerLarge: 1500 + ($containerPadding * 2);

:root {
    --title-font: 'MazzardM';
    --main-font: 'MazzardM';
    
    --accent: #E95F7E;
    --accent-dark: #db4f6d;
    --accent-light: #ec6e89;

    --light: #F8F8F8;

    --white: #FFF;
    --black: #000;

    --container-padding: 15px;
}

@font-face {
    @include font-include('MazzardM', 400, swap, normal, 'MazzardM-Regular');
}

@font-face {
    @include font-include('MazzardM', 500, swap, normal, 'MazzardM-Medium');
}

@font-face {
    @include font-include('MazzardM', 600, swap, normal, 'MazzardM-SemiBold');
}

@font-face {
    @include font-include('MazzardM', 700, swap, normal, 'MazzardM-Bold');
}

@font-face {
    @include font-include('MazzardH', 400, swap, normal, 'MazzardH-Regular');
}

@font-face {
    @include font-include('MazzardH', 500, swap, normal, 'MazzardH-Medium');
}

@font-face {
    @include font-include('MazzardH', 600, swap, normal, 'MazzardH-SemiBold');
}

@font-face {
    @include font-include('Gilroy', 500, swap, normal, 'Gilroy-Medium');
}
