.about-us {

    // .about-us__container

    &__container {
    }

    // .about-us__intro

    &__intro {

        display: flex;
        justify-content: space-between;

        // .about-us__intro--col

        &--col {
            flex: 0 1 54%; width: 54%;
            &:first-child {
                position: relative;
                z-index: 2;

                flex: 0 1 46%; width: 46%;

                padding-right: 30px;
            }
        }
    }

    // .about-us__section-title

    &__section-title {
    }

    // .about-us__sub-text

    &__sub-text {
    }

    // .about-us__info

    &__info {

        padding-top: 20px;

        // .about-us__info--body

        &--body {
            line-height: 144%;
            color: #646464;
            background: var(--white);

            border-radius: 8px;
            padding: 22px 30px;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 8px; top: 8px;
                width: calc(100% - 16px); height: calc(100% - 16px);
                border: 1.5px dashed rgba(202, 136, 109, 0.3);
                border-radius: 3px;
                pointer-events: none;
            }

            & p {
                padding: 7px 0;
            }
        }
    }

    // .about-us__slider

    &__slider {

        padding-top: 43px;

        overflow: visible;
        padding-right: 84px;
        &::before {
            content: '';
            position: absolute;
            right: 100%; top: 0;
            width: 100vw; height: 100%;
            background: #F9EBE5;
            z-index: 2;
            pointer-events: none;
        }

        // .about-us__slider--list

        &--list {
        }

        // .about-us__slider--slide

        &--slide {
        }

        // .about-us__slider--image

        &--image {
        }

        // .about-us__slider--nav

        &--nav {
        }

        // .about-us__slider--arrow

        &--arrow {
            &.swiper-button-disabled {
                opacity: 0 !important;
            }
        }
    }

    // .about-us__slide

    &__slide {

        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, padding .2s ease-in-out;
        opacity: 0; visibility: hidden;

        &.swiper-slide-active, &.swiper-slide-next {
            opacity: 1; visibility: visible;
        }

        &.swiper-slide-next ~ &.swiper-slide {
            opacity: 0.5; visibility: visible;
            padding-top: 30px;
        }

        &.swiper-slide-next {
            padding-top: 30px;
        }

        // .about-us__slide--body

        &--body {
            padding: 6px;
            background: var(--white);
            border-radius: 5px;
        }

        // .about-us__slide--body

        &--image {
            width: 100%; padding-top: 144%;
            position: relative;
            & img {
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                object-fit: cover;
                background: #D7D7D7;
                border-radius: 5px;
            }
        }
    }

    // .about-us__advantages

    &__advantages {

        padding-top: 50px;

        // .about-us__advantages--title

        &--title {
        }

        // .about-us__advantages--list

        &--list {
            padding-top: 26px;

            display: flex;
            flex-wrap: wrap;

            margin: -5px;
            @media (min-width: 600px) {
                margin: -10px;
            }
        }

        // .about-us__advantages--card

        &--card {
            padding: 5px;

            flex: 1 1 100%;

            @media (min-width: 600px) {
                flex: 0 1 50%;
                padding: 10px;
            }
            
            @include _992 {
                flex: 0 1 25%;
            }
        }
    }

    // .about-us__advantages-card

    &__advantages-card {

        // .about-us__advantages-card--body

        &--body {
            background: var(--white);
            min-height: 100%;

            padding: 15px;
        }

        // .about-us__advantages-card--icon

        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 46px; height: 46px;
            background: #F8F8F8;
        }

        // .about-us__advantages-card--text

        &--text {
            padding-top: 9px;
            line-height: 144%;
            color: #646464;
        }
    }

    // .about-us__types-menu

    &__types-menu {

        padding-top: 26px;

        // .about-us__types-menu--title

        &--title {
        }

        // .about-us__types-menu--list

        &--list {
            padding-top: 18px;
            max-width: 982px;

            @include _768 {
                padding-top: 32px;
            }

            display: flex;
            flex-wrap: wrap;

            margin: -8px;

            & li {
                /* flex: 1 1 100%;
                @include _768 {
                    flex: 0 1 50%;
                } */
                flex: 1 1 100%;
                @media (min-width: 400px) {
                    flex: 0 1 auto;
                }
                @include _768 {
                    font-size: 1rem;
                }
                
                @include _992 {
                    font-size: 1.125rem;
                    flex: 0 1 33.333%;
                }

                padding: 8px;

                font-size: 1.125rem;
                line-height: 133%;
                color: #646464;

                display: flex;

                &::before {
                    content: '';
                    display: block;
                    width: 18px; height: 18px;
                    flex: 0 0 18px;
                    margin-top: 3px; margin-right: 7px;
                    background: #fff url("data:image/svg+xml,%3Csvg viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.81411 0.307553C7.56659 0.0597018 7.16466 0.0598581 6.91681 0.307553L2.8783 4.34622L1.08335 2.55129C0.835501 2.30344 0.433739 2.30344 0.185888 2.55129C-0.0619628 2.79914 -0.0619628 3.2009 0.185888 3.44875L2.42947 5.69234C2.55332 5.81618 2.71571 5.87826 2.87812 5.87826C3.04054 5.87826 3.20309 5.81634 3.32693 5.69234L7.81411 1.205C8.06196 0.957322 8.06196 0.555388 7.81411 0.307553Z' fill='%23A46850'/%3E%3C/svg%3E%0A")
                    center / 45% no-repeat;
                    border-radius: 50%;
                }
            }
        }

        // .about-us__types-menu--text

        &--text {
            padding-top: 20px;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 133%;
            color: #5C5C5C;
        }

        // .about-us__types-menu--btn

        &--btn {
            margin-top: 22px;
        }
    }
}
