.service {

    // .service__bg

    &__bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -1;
        &::before {
            @include _992 {
                content: '';
                position: absolute;
                left: 0; bottom: 0;
                width: 60%; aspect-ratio: 1/1;
                border-radius: 50%;
                background: rgba(235, 187, 167, 0.25);
                transform: translate(-30%, 60%);
            }
        }
    }

    // .service__container

    &__container {
    }

    // .service__section-title

    &__section-title {
    }

    // .service__text

    &__text {
        line-height: 138%;
        color: #565656;

        & p {
            padding: 7px 0;
        }
    }

    // .service__gallery

    &__gallery {
        padding-top: 43px;

        margin: -10px 0;

        display: flex;
        flex-direction: column;

        @media (min-width: 550px) {
            display: grid;
            grid-template-columns: 40% 60%;

            margin: -12.5px;
        }

        @include _768 {
            grid-template-columns: 24% 33% 43%;
        }

        // .service__gallery--item

        &--item {
            padding: 10px 0;
            @media (min-width: 550px) {
                padding: 12.5px;
            }
        }

        // .service__gallery--image

        &--image {
            width: 100%; padding-top: 100%;
            position: relative;

            min-height: 100%;
        }

        &--item:nth-child(1) {
            grid-column: 1/1; grid-row: 1/1;
            @include _768 {
                grid-column: 1/1; grid-row: 1/1;
            }
        }

        &--item:nth-child(2) {
            grid-column: 2/2;
            @include _768 {
                grid-column: 2/2; grid-row: 1/1;
            }
        }

        &--item:nth-child(3) {
            grid-column: 1/3; grid-row: 2/2;
            @include _768 {
                grid-column: 1/3; grid-row: 2/2;
            }
        }

        &--item:nth-child(4) {
            grid-column: 1/3; grid-row: 3/3;
            @include _768 {
                grid-column: 3/3; grid-row: 1/3;
            }
        }

        &--item:nth-child(1) &--image {
            padding-top: 98%;
        }

        &--item:nth-child(2) &--image {
            padding-top: 69.5%;
        }

        &--item:nth-child(3) &--image {
            padding-top: 35.5%;
        }

        &--item:nth-child(4) &--image {
            padding-top: 105.1%;
        }

        // .service__gallery--image-body

        &--image-body {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            padding: 5px;
            background: var(--border-color);
            border-radius: 5px;
            & img {
                width: 100%; height: 100%;
                object-fit: cover;
                background: #D7D7D7;
                border-radius: 5px;
            }
        }
    }
}
