.contact-us {
    
    // .contact-us__container

    &__container {
    }

    // .contact-us__section-title

    &__section-title {
    }

    // .contact-us__sub-text

    &__sub-text {
        display: block;
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 150%;
        color: #565656;

        @include _768 {
            font-size: 1rem;
        }
        
        @include _992 {
            font-size: 1.25rem;
        }

    }

    // .contact-us__info

    &__info {

        padding-top: 15px;

        @include _768 {
            padding-top: 22px;
        }

        // .contact-us__info--list

        &--list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            margin: -4px 0;
            @include _768 {
                margin: -10px;
            }
        }

        // .contact-us__info--item

        &--item {
            flex: 1 1 100%;
            padding: 4px 0;
            @include _768 {
                flex: 0 1 50%;
                padding: 10px;
            }
            
            @include _992 {
                flex: 0 1 33.333%;
            }
            
        }
    }

    // .contact-us__info-item

    &__info-item {

        // .contact-us__info-item--body

        &--body {
            background: var(--white);
            box-shadow: 0px 8px 35px #E3C7BB;
            border-radius: 5px;

            font-style: normal;

            display: grid;
            grid-template-columns: 63px auto;

            padding: 10px;
            @include _768 {
                grid-template-columns: 83px auto;
                padding: 10px 51px 10px 10px;
            }
        }

        // .contact-us__info-item--icon

        &--icon {
            grid-column: 1/1; grid-row: 1/4;

            display: flex;
            align-items: center;
            justify-content: center;

            align-self: center;

            width: 50px; height: 50px;
            @include _768 {
                width: 70px; height: 70px;
            }

            background: #F8F8F8;
            border-radius: 3px;
            margin-right: 13px;

            & img {
                width: 50%; height: 35%;
            }
        }

        // .contact-us__info-item--title

        &--title {
            font-weight: 500;
            font-size: 1rem;
            @include _768 {
                font-size: 1.125rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
            line-height: 150%;
            color: #373737;
        }

        // .contact-us__info-item--link

        &--link {
            font-size: 0.8125rem;
            line-height: 150%;
            color: #565656;

            
            @include _768 {
                margin-right: 40px;
            }

            transition: color .2s ease-in-out;

            &:hover {
                color: #8b8b8b;
            }
            
            &:active {
                color: #3b3b3b;   
            }
        }
    }

    // .contact-us__form

    &__form {

        padding-top: 40px;

        // .contact-us__form--body

        &--body {
            display: flex;
            flex-wrap: wrap;

            margin: -10px 0;
            padding: 12px 0;
            @include _768 {
                padding: 30px 20px;
            }

            background: var(--white);
            border-radius: 8px;
        }

        &--title {
            padding: 10px;
            width: 100%;

            text-align: center;

            @include _768 {
                text-align: left;
            }
        }

        // .contact-us__form--label

        &--label {
            flex: 1 1 100%;
            @media (min-width: 400px) {
                flex: 0 1 50%;
            }
            
            @include _992 {
                flex: 0 1 33.333%;
            }
            padding: 10px;

            &._full {
                flex: 1 1 100%;
                width: 100%;
            }

            display: flex;
            flex-direction: column;
        }

        // .contact-us__form--name

        &--name {
            font-weight: 500;
            font-size: 0.875rem;
            @include _768 {
                font-size: 1rem;
            }
            
            @include _992 {
                font-size: 1.125rem;
            }
            line-height: 167%;
            color: #565656;
        }

        // .contact-us__form--input

        &--input {
            margin-top: 5px;
        }

        // .contact-us__form--textarea

        &--textarea {
            margin-top: 5px;
        }

        // .contact-us__form--footer

        &--footer {
            width: 100%;
            padding: 10px;

            display: flex;
            justify-content: center;
            @include _768 {
                justify-content: flex-end;
            }
        }

        // .contact-us__form--submit

        &--submit {
        }
    }
}
